In [1]:
import numpy as np
import pandas as pd
import datetime
import pandas_datareader
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')
from matplotlib_venn import venn2
from pandas_datareader import wb # import WB API

In [10]:
# load wb data for energy production from fossil fuels 1975-2015
wb_fosl = wb.download(indicator='EG.ELC.FOSL.ZS', country=['EUU','NAC','SSA','TLA'], start=1975, end=2015)
wb_fosl = wb_fosl.rename(columns = {'EG.ELC.FOSL.ZS':'fosl'})
wb_fosl.reset_index(inplace = True)
wb_fosl.year = wb_rnwx.year.astype(int)
wb_fosl.country = wb_rnwx.country.astype(str)
wb_fosl = wb_fosl.sort_values(['country', 'year'])
wb_fosl.dropna() #drop all missing values
wb_fosl.reset_index(inplace=True, drop=True)
wb_fosl.info()

/Users/gw/opt/anaconda3/lib/python3.9/site-packages/pandas_datareader/wb.py:592: UserWarning: Non-standard ISO country codes: EUU, NAC, SSA, TLA
  warnings.warn(

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164 entries, 0 to 163
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   country  164 non-null    object
 1   year     164 non-null    int64
 2   fosl     164 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 4.0+ KB

In [11]:
import ipywidgets as widgets
def plot_wb(wb_fosl, country): 
    I = wb_fosl['country'] == country
    ax=wb_fosl.loc[I,:].plot(x='year', y='fosl', style='-o', legend=False)
    ax.set_ylabel('% of total')

In [12]:
widgets.interact(plot_wb, 
    wb_fosl = widgets.fixed(wb_fosl),
    country = widgets.Dropdown(description='Country', 
                                    options=wb_fosl.country.unique(), 
                                    value='European Union')
);

interactive(children=(Dropdown(description='Country', options=('European Union', 'Latin America & the Caribbea…

In [13]:
wb_rnwx = wb.download(indicator='EG.ELC.RNWX.ZS', country=['EUU', 'NAC', 'SSA', 'TLA'], start=1975, end=2015)
wb_rnwx = wb_rnwx.rename(columns = {'EG.ELC.RNWX.ZS':'rnwx'})
wb_rnwx = wb_rnwx.reset_index()
wb_rnwx.year = wb_rnwx.year.astype(int)
wb_rnwx.country = wb_rnwx.country.astype(str)
wb_rnwx = wb_rnwx.sort_values(['country', 'year'])
wb_rnwx.dropna()
wb_rnwx.reset_index(inplace=True, drop=True)
wb_rnwx.head(5)
wb_rnwx.info()

/Users/gw/opt/anaconda3/lib/python3.9/site-packages/pandas_datareader/wb.py:592: UserWarning: Non-standard ISO country codes: EUU, NAC, SSA, TLA
  warnings.warn(

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164 entries, 0 to 163
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   country  164 non-null    object
 1   year     164 non-null    int64
 2   rnwx     164 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 4.0+ KB

In [14]:
def plot_wb(wb_rnwx, country): 
    I = wb_rnwx['country'] == country
    ax = wb_rnwx.loc[I,:].plot(x='year', y='rnwx', style='-o', legend=False)
    ax.set_ylabel('% of total')

In [15]:
widgets.interact(plot_wb, 
    wb_rnwx = widgets.fixed(wb_rnwx),
    country = widgets.Dropdown(description='Country', 
                                    options=wb_rnwx.country.unique(), 
                                    value='European Union')
);

interactive(children=(Dropdown(description='Country', options=('European Union', 'Latin America & the Caribbea…

In [16]:
wb = pd.merge(wb_fosl, wb_rnwx, on=['country', 'year'], how='left')
wb.dropna()
wb.rename(columns={'fosl':'f'}, inplace=True)
wb.rename(columns={'rnwx':'r'}, inplace=True)

In [17]:
wb

                                        country  year          f         r
0                                European Union  1975  41.528918  0.558944
1                                European Union  1976  40.213665  0.513907
2                                European Union  1977  42.730355  0.519714
3                                European Union  1978  45.679239  0.522394
4                                European Union  1979  47.561879  0.507560
..                                          ...   ...        ...       ...
159  Sub-Saharan Africa (excluding high income)  2011  36.439426  0.670913
160  Sub-Saharan Africa (excluding high income)  2012  37.302081  0.730265
161  Sub-Saharan Africa (excluding high income)  2013  36.703373  0.856317
162  Sub-Saharan Africa (excluding high income)  2014  36.830931  1.701720
163  Sub-Saharan Africa (excluding high income)  2015  38.305734  2.389288

[164 rows x 4 columns]

In [18]:
wb['prod_diff'] = wb.f - wb.r
wb

,country,year,f,r,prod_diff
0,European Union,1975,41.528918,0.558944,40.969973
1,European Union,1976,40.213665,0.513907,39.699758
2,European Union,1977,42.730355,0.519714,42.210641
3,European Union,1978,45.679239,0.522394,45.156845
4,European Union,1979,47.561879,0.507560,47.054319
...,...,...,...,...,...
159,Sub-Saharan Africa (excluding high income),2011,36.439426,0.670913,35.768513
160,Sub-Saharan Africa (excluding high income),2012,37.302081,0.730265,36.571816
161,Sub-Saharan Africa (excluding high income),2013,36.703373,0.856317,35.847056
162,Sub-Saharan Africa (excluding high income),2014,36.830931,1.701720,35.129211
163,Sub-Saharan Africa (excluding high income),2015,38.305734,2.389288,35.916446

In [19]:
import ipywidgets as widgets
def plot_wb(wb, country): 
    I = wb['country'] == country
    ax = wb.loc[I,:].plot(x='year', y='prod_diff', style='-o', legend=False)
    ax.set_ylabel('%-point difference of total production')

In [20]:
widgets.interact(plot_wb, 
    wb = widgets.fixed(wb),
    country = widgets.Dropdown(description='Country', 
                                    options=wb.country.unique(), 
                                    value='European Union')
);

interactive(children=(Dropdown(description='Country', options=('European Union', 'Latin America & the Caribbea…